{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name</label>
          {{input value=author id="author"}}
        </div>
        <div class="form-group">
          <label for="content">Answer</label>
          {{input value=content id="content"}}
        </div>
        <button {{action 'save1'}}>Post</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-default" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
