{{#if addNewQuestion}}
  <h1>New Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name:</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Question:</label>
          {{input value=content id="content"}}
        </div>

        <div class="form-group">
          <label for="notes">Notes:</label>
          {{input value=notes id="notes"}}
        </div>

        <button {{action 'save1'}}>Ask!</button>
      </form>
    </div>
  {{else}}
    <button {{action 'questionFormShow'}}>Ask a Question</button>
{{/if}}
