<div>
  <h3>By: {{question.author}}</h3>
  <p><strong>Q: </strong>{{question.content}}</p>
  <p>Notes: {{question.notes}}</p>
  {{update-question question=question update="update"}}
  <button class="btn btn-default" {{action 'delete' question}}>Delete</button>
  <button class="btn btn-default" {{action 'addToFavorites' question}}>Add to Favorites</button>

</div>
<div>
  <h2>Answers:</h2>
    {{#each question.answers as |answer|}}
      <p>{{answer.author}}</p>
      <p>{{answer.content}}</p>
      <button class="btn btn-default" {{action 'delete' answer}}>Delete</button>
    {{/each}}
</div>
